STRIPE_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
Z21_ACTIVE_BASE_PATH="/Users/gregloupiac/Library/CloudStorage/GoogleDrive-21corestudios@gmail.com/Mon Drive/ZONE21_DEV"

# Storyblok editorial CMS
STORYBLOK_PUBLIC_TOKEN=
STORYBLOK_PREVIEW_TOKEN=
STORYBLOK_PREVIEW_SECRET=
STORYBLOK_API_BASE_URL=https://api.storyblok.com
